.single-book-add-btn{
    background: inherit;
    font-family: 'Special Elite', cursive;
    padding: 6px;
    font-size: 90%;
    color: $green;

    transition: background color 0.5s;
    &:focus{
        background: $green;
        outline: none;
        color: $beige;
    }
}

.input.placeholder{
    color: $green;
}
